<html>
<head>
  <title>
    Varanus
  </title>
  <link rel="stylesheet" href="../static/main.css"/>
  <script type="text/javascript" src="../static/main.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="../static/varanus.png"></link>
</head>
<body>
  <section id="header">
    Veranus
  </section>
  <section id="main">
    <section id="management">
    </section>
    <section id="status">
      <div id="tokens">
        <h3>Honeytokens</h3>
        <div id="insert">
        </div>
        <div class="scroll">
          <div class="token secure">
            <i class="type fas fa-phone-square"></i>555-555-5555<i class="status fas fa-lock"></i>
          </div>
          <div class="token insecure">
            <i class="type fas fa-credit-card"></i>XXX-XXX-XXX-XXX<i class="status fas fa-unlock"></i>
          </div>
          <div class="token insecure">
            <i class="type fas fa-user"></i>Name: Joey Password: swordfish<i class="status fas fa-unlock"></i>
          </div>
          <div id="token-template" class="token secure">
            <i class="type fas fa-user"></i>Template<i class="status fas fa-lock"></i>
          </div>
        </div>
      </div>
      <div id="logging">
        <h3>Logging</h3>
        <div class="scroll">
          <div class="log insecure">
            2018-04-19 12:56<i class="status fas fa-unlock"></i>
          </div>
          <div class="log secure">
            2018-04-19 12:55<i class="status fas fa-lock"></i>
          </div>
          <div id="log-template" class="log secure">
            Template<i class="status fas fa-lock"></i>
          </div>
        </div>
      </div>
    </section>
  </section>
</body>
</html>
