a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}
a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}
div, section, form {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
  margin: 0;
  height: 100%;
  color: #000;
  font-family: sans-serif;
}
h3 {
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 10px;
}
#header {
  height: 150px;
  width: 100%;
  /*color: white;*/
  padding: 27px;
  font-size: 100px;
  font-family: sans-serif;
}
#icon {
  height: 100%;
}
#main {
  height: calc(100% - 150px);
  padding: 40px;
}
#management {
  width: 50%;
  height: 100%;
  /*background: #262;*/
  float: right;
  padding: 20px;
}
#status {
  width: 50%;
  height: 100%;
  /*background: #373;*/
  float: left;
  width: 40%;
  padding: 20px;
}
#tokens {
  font-size: 20px;
  height: 40%;
  margin-bottom: 10%;
}
#tokens-insert {
  height: 60px;
}
#tokens-add {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  float: left;
}
.token, .log, .alert, .kv {
  padding: 10px;
  border-radius: 10px;
  /*background: #BBB;*/
  margin: 3px;
}
#logging {
  font-size: 20px;
  height: 50%;
}
#tokens-display {
  height: 90%;
}
#logging-display {
  height: 90%;
}
#management-kv-display {
  height: calc(100% - 40px);
}
#alerts-display {
  height: calc(100% - 60px);
}
#management-status {
  height: 50px;
  width: 250px;
  margin: auto;
  border-radius: 10px;
  padding: 7px 10px;
  text-align: center;
  font-size: 30px;
}
#management-info {
  height: 70%;
}
#management-kv {
  height: 50%;
}
#management-alerts {
  height: 50%;
}
.scroll {
  overflow-y: scroll;
}
.right {
  float: right;
  margin-left: 10px;
}
.left {
  float: left;
}
.type {
  color: black;
  margin-right: 10px;
}
.fa-lock, .secure {
  background: #C2FBC9;
  color: #000;
}
.fa-exclamation-circle, .insecure {
  background: #FF3F00;
  color: #000;
}
.menu {
  background: #6f6f6f;
  color: white;
  border-radius: 3px;
}
.background {
  background: #515151;
}
.alert, .kv {
  background: white;
  border-radius: 10px;
  color: #000;
  height: 35px;
}
